<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sammyt.volumewidget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/baseline_volume_up_white_24"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/baseline_volume_up_white_24"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".volumewidget_experimental.VolumeExpWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/volume_exp_widget_info" />
        </receiver>
        <service
            android:name=".volumewidget_experimental.VolumeWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".ManageObserverService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".AdjustVolumeReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".VolumeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/volume_widget_info" />
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>